# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
sudo: required
os:
  - linux
julia:
  - 0.6
  - 0.7
  - 1.0
matrix:
    allow_failures:
        - julia: 0.7
        - julia: 1.0
notifications:
  email: false
addons:
      apt_packages:
        - gfortran
        - liblapack-dev
        - libblas-dev
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia -e 'Pkg.clone(pwd())'
  - julia -e 'Pkg.test("NLOptControl")'
