# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
sudo: required
os:
  - linux
julia:
  - 0.6
notifications:
  email: false
addons:
      apt_packages:
        - gfortran
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia -e 'Pkg.clone(pwd())'
  #- julia -e 'Pkg.add("Ipopt")'
  #- julia -e 'Pkg.build("Ipopt")'
  #- julia -e 'Pkg.add("NBInclude")'
  #- julia -e 'Pkg.build("NBInclude")'
  - julia -e 'Pkg.test("NLOptControl")'
